<%= form_for([current_user, @album, @photo_image], html: {multipart: true}) do |f| %>
  <% if @photo_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo_image.errors.count, "error") %> prohibited this photo_image from being saved:</h2>

      <ul>
      <% @photo_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Название фотографии' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label 'Загрузить фотки' %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
