<p id="notice"><%= notice %></p>

<%= @album.name %>

<% @album.photo.each do |p| %>
  <%= image_tag p.photo_url(:thumb).to_s %>
<% end %>

<p>
<%= image_tag @album.photo_url(:thumb).to_s %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
