<p id="notice"><%= notice %></p>

<%= @album.name %>

<p>
 <% @album.photo_images.each do |f| %>
    <li><%= image_tag f.image.url %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_album_path(current_user, @album) %> |
<%= link_to 'Back', albums_path %>
